<section class="testimonials py-5 bg-light">
    <div class="section-header text-center mt-5">
      <h3 class="section-title">WE LOVE GOOD COMPLIMENTS</h3>
    </div>
    <div class="swiper testimonial-swiper overflow-hidden my-5">
      <div class="swiper-wrapper d-flex">
        <div class="swiper-slide">
          <div class="testimonial-item text-center">
            <blockquote>
              <p>“Bazari platform is incredibly user-friendly, making shopping effortless and enjoyable!”</p>
              <div class="review-title text-uppercase">Smooth Experience</div>
            </blockquote>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonial-item text-center">
            <blockquote>
              <p>“The product selection on Bazari is top-notch, offering high-quality items at unbeatable prices!”</p>
              <div class="review-title text-uppercase">Quality Selection</div>
            </blockquote>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonial-item text-center">
            <blockquote>
              <p>“Shopping on Bazari has never been easier. The fast delivery and great customer service are impressive!”</p>
              <div class="review-title text-uppercase">Fast & Efficient</div>
            </blockquote>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonial-item text-center">
            <blockquote>
              <p>“Bazari's attention to detail and product quality is unmatched. Every purchase exceeds expectations!”</p>
              <div class="review-title text-uppercase">Exceptional Quality</div>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
    <div class="testimonial-swiper-pagination d-flex justify-content-center mb-5"></div>
  </section>
  